#title {
    height: 60px;
    background-color: whitesmoke;
    color: #0397f3;
    text-align: center;
    font-size: 4rem;
}

body {
    background-image: linear-gradient(to left, #56ccf2, #2f80ed);
}

#search {
    flex: 1 0 20vw;
    align-self: stretch;
    height: 500px;
}

span {
    color: whitesmoke;
}

#button-get {
    background-color: rgb(146, 146, 146);
    color: whitesmoke;
    width: 100%;
}

#button-get:hover {
    box-shadow: 0 0 10px whitesmoke;
}

#hero {
    text-align: start;
    color: whitesmoke;
    flex: 1 0 75vw;
    height: 450px;
    border-radius: 50px;
    box-shadow: 0 0 30px whitesmoke;
    padding: 30px;
    margin-bottom: 0px;
}

img {
    object-fit: contain;
    height: 100px;
    width: 100px;
    padding: 10px;
}

#city-name {
    font-size: 80px;
}

#card-date0 {
    font-size: 35px;
}

.list-name > *  {
    font-size: 25px;
    text-decoration: none;
}

.card {
    flex: 0 0 15vw;
    background-image: linear-gradient(to top right, rgb(100, 174, 247), white);
}

#weather1 {
    margin-left: 300px;
}

button {
    width: 100%;
}